<nav class="bg-stone-400 border-gray-700 dark:bg-stone-400 text-white">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <!-- Logo -->
    <a class="flex items-center space-x-2 opacity-100 hover:opacity-80 transition ease-in-out duration-250" routerLink="/">
      <span class="text-2xl font-semibold whitespace-nowrap text-white">Task Management</span>
    </a>

    <!-- Navigation Links -->
    <div class="hidden w-full md:block md:w-auto">
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-300 rounded-lg bg-stone-400 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-stone-400 ">
        <li>
          <a routerLink="/home" routerLinkActive="text-orange-200 underline dark:text-orange-200" 
            class="block py-2 px-3 rounded-sm hover:bg-red-100 md:hover:bg-transparent md:border-0 md:hover:text-orange-200 md:p-0 md:dark:hover:text-orange-200">
            Home
          </a>
        </li>
        <li>
          <a routerLink="/tasks" routerLinkActive="text-orange-200 underline dark:text-orange-200" 
            class="block py-2 px-3 rounded-sm hover:bg-red-100 md:hover:bg-transparent md:border-0 md:hover:text-orange-200 md:p-0 md:dark:hover:text-orange-200">
            Tasks
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
